@model Hotel_Ecommerce.Models.OtelDetail
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string dd = Server.MapPath(Model.Otel.OtelGaleriKlasor);
    DirectoryInfo d = new DirectoryInfo(dd);

    FileInfo[] Files = d.GetFiles();
}

<style>
    .navbar-brand img {
        margin-top: -23px;
    }
</style>
<link href="~/Content/assest/components/revolution_slider/css/settings.css" rel="stylesheet" />
<link href="~/Content/assest/components/revolution_slider/css/style.css" rel="stylesheet" />
<link href="~/Content/assest/components/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
<link href="~/Content/assest/components/flexslider/flexslider.css" rel="stylesheet" />
<section id="content">
    <div class="container">
        <div class="row">
            <div id="main" class="col-md-9">
                <div class="tab-container style1" id="hotel-main-content">

                    <div class="tab-content">
                        <div id="photos-tab" class="tab-pane fade in active">
                            <div class="photo-gallery style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                                <ul class="slides">
                                    @for (int i = 0; i < Files.Length; i++)
                                    {
                                        string imagePath = Model.Otel.OtelGaleriKlasor + Files[i];
                                        <li>
                                            <img src="@imagePath" />

                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                                <ul class="slides">
                                    @for (int i = 0; i < Files.Length; i++)
                                    {
                                        string imagePath = Model.Otel.OtelGaleriKlasor + Files[i];
                                        <li>
                                            <img src="@imagePath" />

                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="hotel-features" class="tab-container">
                    <ul class="tabs">
                        <li class="active"><a href="#hotel-description" data-toggle="tab">DETAY</a></li>
                        <li><a href="#hotel-room-availability" data-toggle="tab">ODALAR</a></li>
                        <li><a href="#hotel-availability" data-toggle="tab">OTEL OLANAKLARI</a></li>
                        <li><a href="#hotel-room-detail" data-toggle="tab">ODA OLANAKLARI</a></li>
                        <li><a href="#hotel-map" data-toggle="tab">KONUM</a></li>
                        <li><a onclick="AjaxProgramiYazdir()" data-toggle="tab">PROGRAMI YAZDIR</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="hotel-description">
                            @Html.Raw(Model.Otel.OtelAciklama)
                        </div>
                        <div class="tab-pane fade" id="hotel-room-availability">
                            @Html.Raw(Model.Otel.OdaAciklama)
                        </div>
                        <div class="tab-pane fade" id="hotel-availability">

                            <ul class="amenities clearfix style1">
                                @foreach (var item in Model.OtelOzellikleri)
                                {
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style1"><i class="soap-icon-chevron-right"></i>@item.OlanakAdi</div>
                                    </li>
                                }


                            </ul>

                        </div>
                        <div class="tab-pane fade" id="hotel-room-detail">
                            <ul class="amenities clearfix style1">

                                @foreach (var item in Model.OdaOzellikleri)
                                {
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style1"><i class="soap-icon-chevron-right"></i>@item.OdaOzellikAdi</div>
                                    </li>
                                }
                            </ul>


                        </div>
                        <div class="tab-pane fade" id="hotel-map">
                            <iframe width="100%" height="400px" src="@Html.Raw(Model.iframeMap)"></iframe>

                        </div>

                    </div>

                </div>
            </div>
            <div class="sidebar col-md-3">
                <article class="detailed-logo">
                    @*<figure>
                            <img width="114" height="85" src="@Model.Otel.OtelAnasayfaResmi" alt="">
                        </figure>*@
                    <div class="details">
                        <h2 class="box-title">@Model.Otel.OtelAdi<small><i class="soap-icon-departure yellow-color"></i><span style="text-transform:none;font-family:Arial;color:black;font-weight:bold" class="fourty-space"> @Model.Otel.Otelil,@Model.Otel.OtelBolgesi</span></small></h2>
                        <span class="price clearfix">
                            <small class="pull-left" style="text-transform:none;color:darkred;font-weight:bold">@Model.Otel.KonaklamaTipi.Substring(0, Model.Otel.KonaklamaTipi.Length - 1) </small><br />
                            <small class="pull-left" style="text-transform:none;color:darkred;font-weight:bold">@Model.Otel.OtelDivBilgi </small>
                        </span>

                    </div>
                </article>
                <div class="travelo-box contact-box" align="center">
                    <p>Otellerimiz ile ilgili detayları ücretsiz olarak öğrenebilirsiniz </p>
                    <address class="contact-details">
                        <span class="contact-phone" style="font-size:17px"><i class="soap-icon-phone"></i> 05xx 000 00 00</span>
                        <br>
                        <a class="contact-phone" href="#" style="font-size:16px"><i class="soap-icon-calendar"></i> info@@company.com</a><br />
                    </address><br />
                    <button style="width:100%" class="btn btn-success" onclick=" openOtelTeklifAl();datasetrez();">Fiyat Teklifi Al</button>

                </div>

                <div class="travelo-box book-with-us-box">
                    <h4>Neden biz?</h4>
                    <ul>
                        <li>
                            <i class="soap-icon-hotel-1 circle"></i>
                            <h5 class="title"><a href="#">Çoklu Seçenekler</a></h5>
                            <p>İstediğiniz kriterlere uygun otelleri bulabilirsiniz..</p>
                        </li>
                        <li>
                            <i class="soap-icon-savings circle"></i>
                            <h5 class="title"><a href="#">Uygun Fiyat </a></h5>
                            <p>Fiyatlarımız en uygun şekilde hesaplanır.</p>
                        </li>
                        <li>
                            <i class="soap-icon-support circle"></i>
                            <h5 class="title"><a href="#">Müşteri Desteği</a></h5>
                            <p>İstediğiniz zaman bize ulaşabilirsiniz..</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>


<div id="ModalTeklifAl" class="modal fade" style="z-index: 999999" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #E3000F; color: white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: #fff">Otel Fiyat Teklifi Formu</h4>
            </div>
            <div id="talepformual">
                <div class="modal-body">
                    <br />

                    <input type="text" class="form-control" disabled="disabled" runat="server" id="lblteklifoteladi" value="'@Model.Otel.OtelAdi"/><br />
                    <label>Rezervasyon Tarihleri</label>
                    <br />

                    <input type="text" class="form-control" id="txtteklifgiriscikistarihi" value="@(Session["musterireztarihleri"]==null ? "":Session["musterireztarihleri"].ToString())" /><br />
                    <input type="text" placeholder="Yolcu adı giriniz." maxlength="50" class="form-control" id="txtyolcuadi" value="@(Session["musteriadi"]==null ? "":Session["musteriadi"].ToString())" /><br />
                    <label>Telefon numaranız</label>
                    <input type="text" placeholder="Yolcu telefon giriniz." maxlength="20" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="txtyolcutelefon" value="@(Session["musteritel"]==null ? "":Session["musteritel"].ToString())"/><br />
                    <label>E mail adresiniz</label>
                    <input type="email" placeholder="Yolcu Email giriniz" maxlength="100" id="txtyolcuemail" class="form-control" value="@(Session["musterimail"]==null ? "":Session["musterimail"].ToString())"  />
                    <br />
                    <label>Yetişkin Sayısı</label>
                    <select id="txtteklifysayi" class="form-control">
                        @for (int i = 0; i < 6; i++)
                        {
                            if (Session["musteriyetiskinsayisi"] != null)
                            {
                                <option @(Session["musteriyetiskinsayisi"].ToString() == i.ToString() ? "selected" : "") value="@i">@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select><br />
    
              

                    <label>Çocuk Sayısı</label>
                    <select id="txtteklifcsayi"  class="form-control" onchange="mustericocukyas()">
                    @for (int i = 0; i < 3; i++)
                    {
                        if (Session["mustericocuksayisi"] !=null )
                        {
                        <option @(Session["mustericocuksayisi"].ToString() == i.ToString() ? "selected" : "") value="@i">@i</option>
                        }
                        else
                        {
                    <option value="@i">@i</option>
                        }
                    }
                        

                    </select><br />

                    <div id="teklifcocukyaslaridiv">
                        <div id="teklifcocuk1yasdiv">
                            <label>1.Çocuk Yaşı</label>
                            <select id="selectteklifcocuk1yas" class="form-control">
                                @for (int i = 0; i < 12; i++)
                                {
                                    if (Session["mustericocuksayisi1"] != null)
                                    {
                                        <option @(Session["mustericocuksayisi1"].ToString() == i.ToString() ? "selected" : "") value="@i">@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }

                            </select>
                            <br />
                        </div>
                        <div id="teklifcocuk2yasdiv">
                            <label>2.Çocuk Yaşı</label>
                            <select id="selectteklifcocuk2yas" class="form-control">
                                @for (int i = 0; i < 12; i++)
                                {
                                    if (Session["mustericocuksayisi2"] != null)
                                    {
                                        <option @(Session["mustericocuksayisi2"].ToString() == i.ToString() ? "selected" : "") value="@i">@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }

                            </select><br />
                            <br />
                        </div>
                        <input type="hidden" id="hiddenidno" runat="server" />
                    </div>

                </div>
            </div>
            <div id="talepformok" style="display: none">
                <div class="row text-center">
                    <div class="col-sm-12">

                        <br />
                        <img src="~/Content/assest/images/logo.png" style="width:50%;" />
                        <br />       <br />
                        <h3>
                            Merhaba,
                            <label id="lblotelteklifadsoyad" style="font-weight: bold; font-size: 24px; font-family: Arial"></label>
                        </h3>
                        <p style="font-size: 17px; color: #5C5C5C;">
                            Otel fiyat teklifi isteğiniz tarafımıza ulaşmıştır.<br />
                            En kısa sürede sizlerle iletişim'e geçecektir.
                            <br />
                            Bizi tercih ettiğiniz için teşekkür ederiz.Tatil dolu günler dileriz
                        </p>

                        <br />
                        <br />
                    </div>

                </div>
            </div>
            <div id="oteltalepyukleniyor" style="display: none" align="center">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <br />

                        @*<img src="/ThemeFiles/images/salturyukleniyor.gif" style="display: block; margin: 0 auto;" id="loading-indicator" />*@
                        <br />
                        <h4>Lütfen bekleyin..Teklif isteği gönderiliyor..</h4>

                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <input type="button" onclick="AjaxFiyatTalepEt();" id="btnoteltalep" value="GÖNDER" class="btn btn-success" formnovalidate />
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    function AjaxProgramiYazdir() {
        var cikti = "<style>h1{color:black !important}body{color:black !important}</style>" + tjq('#hotel-description').html() + "<br/>" + tjq('#hotel-room-availability').html() + "<br/>" + tjq('#hotel-availability').html() + "<br/>" + tjq('#hotel-room-detail').html();
        tjq('body').append('<iframe id="printf" style="display:none;" name="printf"><</iframe>');
        tjq('#printf').contents().find('body').append(cikti);
        window.frames["printf"].focus();
        window.frames["printf"].print();
    }

   
</script>
<script>
    function mustericocukyas() {
        var cocuksayisi = jQuery("#txtteklifcsayi").val();
        if (cocuksayisi == "1") {
            debugger
            jQuery("#teklifcocuk1yasdiv").show();
            jQuery("#teklifcocuk2yasdiv").hide();
        }
        else if (cocuksayisi == "2") {
            jQuery("#teklifcocuk1yasdiv").show();
            jQuery("#teklifcocuk2yasdiv").show();
        }
        else {
            jQuery("#teklifcocuk1yasdiv").hide();
            jQuery("#teklifcocuk2yasdiv").hide();
        }

    }
    function openOtelTeklifAl() {
        jQuery('#ModalTeklifAl').modal('show');
        var currentDay = '@DateTime.Today.ToString("dd/MM/yyyy")';
        var weekLater = '@DateTime.Today.AddDays(7).ToString("dd/MM/yyy")';
        jQuery("#txtteklifgiriscikistarihi").val(currentDay + " / " + weekLater);
    }
    function AjaxFiyatTalepEt() {

        var txtoteladi = '@Model.Otel.OtelAdi';
        var txtreztarihi = jQuery('#txtteklifgiriscikistarihi').val();
        var txtyolcuadi = jQuery('#txtyolcuadi').val();
        var txtyolcutel = jQuery('#txtyolcutelefon').val();
        var txtyolcuemail = jQuery('#txtyolcuemail').val();
        var txtysayisi = jQuery('#txtteklifysayi').val();
        var txtcsayisi = jQuery('#txtteklifcsayi').val();
        var txtcocuk1yas = jQuery('#selectteklifcocuk1yas').val();
        var txtcocuk2yas = jQuery('#selectteklifcocuk2yas').val();
        if (txtreztarihi.length > 3 && txtyolcuadi.length > 3 && txtyolcutel.length > 3 && txtyolcuemail.length > 3) {

            jQuery.ajax({
                type: "POST",
                url: "/ajax-fiyat-gonder",

                data: { txtoteladi: txtoteladi, txtreztarihi: txtreztarihi, txtyolcuadi: txtyolcuadi, txtyolcutel: txtyolcutel, txtyolcuemail: txtyolcuemail, txtysayisi: txtysayisi, txtcsayisi: txtcsayisi, txtcocuk1yas: txtcocuk1yas, txtcocuk2yas: txtcocuk2yas },
                dataType: "json",
                beforeSend: function (deger) {
                    jQuery('#talepformual').hide();
                    jQuery('#talepformok').hide();
                    jQuery('#btnoteltalep').hide();
                    jQuery('#oteltalepyukleniyor').show();

                },
                success: function (deger) {
                    if (deger.islem == "true") {
                        jQuery("#lblotelteklifadsoyad").empty();
                        jQuery("#lblotelteklifadsoyad").append(txtyolcuadi);
                        jQuery('#oteltalepyukleniyor').hide();
                        jQuery('#btnoteltalep').hide();
                        jQuery('#talepformok').show();

                    }
                    else {
                        jQuery('#talepformok').hide();
                        jQuery('#oteltalepyukleniyor').hide();
                        jQuery('#btnoteltalep').show();
                        jQuery('#talepformual').show();
                        alert("Hata oluştu, lütfen bilgileri kontrol edip tekrar deneyiniz");
                    }
                },
                error: function (deger) {
                    jQuery('#talepformok').hide();
                    jQuery('#oteltalepyukleniyor').hide();
                    jQuery('#btnoteltalep').show();
                    jQuery('#talepformual').show();
                    alert("Hata oluştu, lütfen bilgileri kontrol edip tekrar deneyiniz");

                }
            });
        }
        else {
            alert("Tüm alanların doldurulması zorunludur.");
        }
    }
</script>
