@model List<Hotel_Ecoomerce.DAL.Concrete.AnasayfaSlider>
@{
    ViewBag.Title = "SliderManagement";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="col-md-12">
    <h3 class="card-title">Slider Resimleri</h3>
    <div class="row">
        <div style="padding-top:23px;" class="col-md-6">
            <label>Yeni Resim Ekle</label>
            <input type="file" id="slider_file" />
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Slider Yönlendirmesi</label><br />
                <select class="form-control" id="SliderLinkTarget">
                    <option value="_blank">Yeni Sekmede Aç</option>
                    <option value="_self">Aynı Pencerede Aç</option>
                    <option value="_parent">Yeni Pencerede Aç</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Başlangıç Tarihi</label><br />
                <input id="SliderStartingDate" type="date" class="form-control" placeholder="Lütfen doldurunuz." maxlength="150" />
            </div>
        </div>
        <div class="col-md-6">
            <label>Bitiş Tarihi</label><br />
            <input id="SliderDueDate" type="date" class="form-control" placeholder="Lütfen doldurunuz." maxlength="150" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label>Slider Link</label><br />
                <input id="SliderLink" type="text" class="form-control" placeholder="Lütfen doldurunuz." maxlength="150" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Slider Tipi</label><br />
                <select class="form-control" id="SliderType">
                    <option value="desktop">Masaüstü</option>
                    <option value="mobile">Mobil</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <button style="margin-top:28px;" class="btn btn-success" id="SliderSave" onclick="CreateSlider()">Kaydet</button>
            </div>
        </div>
    </div>
    <ul class="list-group" id="sortable" style="list-style-type:none !important">
        @foreach (var item in Model)
        {
            <li class="ui-state-default" id="@item._id" style="padding:10px 10px 10px 10px;border:2px dashed #ccc !important">
                <div class="row">
                    <div class="col-md-2"><label>@item.Link</label></div>
                    <div class="col-md-1"><label>@(item.Hedef=="_blank" ?"Yeni Sekmede Aç" : item.Hedef == "_parent" ? "Yeni Pencerede Aç":"Aynı Pencere Aç")</label></div>
                    <div class="col-md-3"><label>@item.SliderBitisTarihi</label></div>
                    <div class="col-md-3"><label>@item.SliderBaslangicTarihi</label></div>
                    <div class="col-md-2"><label>@(item.Tip == "desktop" ? "Masaüstü":"Mobile")</label></div>
                    <div class="col-md-1"><input type="button" id="btnDelete" onclick="DeleteSliderImage('@item._id')" value="Sil" class="btn btn-danger" style="margin-left:40px"></div>
                </div>
                <div class="row">
                    <img src="~/Content/images/Slider/@item.Isım" width="100%" height="100%" />
                </div>

            </li>

        }

    </ul>

</div>
<script>
        var $jq = $.noConflict(true);
        $jq(function () {
            $jq("#sortable").sortable({
                update: function () { SaveOrder() }
            });
            $jq("#sortable").disableSelection();
        });

        function SaveOrder() {
            window.HoldOn.open({
                theme: "sk-cube-grid",
                message: "Lütfen Bekleyiniz."
            });
            var a = [];
            $jq('#sortable').children().each(function (i) {
                a.push($jq(this).attr('id') + ':' + i + 1);
            });

            $jq.ajax({
                url: '/panel/update-slider-order',
                type: 'POST',
                data: JSON.stringify(a),
                headers: {
                    'Content-Type': "application/json",
                    'Access-Control-Allow-Headers': "Content-Type",

                }, // tell jQuery not to set contentType
                success: function (data) {
                    window.HoldOn.close();
                },
                error: function () {
                    window.HoldOn.close();
                }
            });

        }

        function CreateSlider() {

            //link ve resim dolumu kontrol edilecek
            var file = $jq($("#slider_file"))[0].files[0];

            var formData = new FormData();
            formData.append('file', file);
            formData.append('hedef', $("#SliderLinkTarget option:selected").val());
            formData.append('link', $("#SliderLink").val());
            formData.append('baslangicTarihi', $("#SliderStartingDate").val());
            formData.append('bitisTarihi', $("#SliderDueDate").val());
            formData.append('tip', $("#SliderType").val());
            $jq.ajax({
                url: '/panel/upload-slider-image',
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    if (data !== "") {
                        console.log(data);
                        $jq("#sortable").append('<li class="ui-state-default" id="' + data._id + '"><img src="/Areas/Files/slider/' + data.Name + '" width="70%" height="100%"/>' +
                            '<input type="button" id="btnDelete" onclick="DeleteSliderImage(\'' + data._id + '\')" value="Sil" class="btn btn-danger" style="margin-left:40px">' +
                            '</li > ');
                    }


                }
            });

        }
        $jq("#slider_file").on("change", function (e) {


        });

        function DeleteSliderImage(ImageID) {
            $jq.ajax({
                url: '/panel/delete-slider-image',
                type: 'POST',
                dataType: "json",
                data: { ImageID: ImageID },
                beforeSend: function () {
                    window.HoldOn.open({
                        theme: "sk-cube-grid",
                        message: "Lütfen Bekleyiniz."
                    });
                },
                success: function (data) {
                    if (data == true) {
                        $jq("#" + ImageID).remove();
                    }
                    window.HoldOn.close();

                }
            });
        }

</script>

